body, #mainWrapper {
    height: 100%;
    background-color:rgb(245, 245, 245);
}

body, .form-control{
    font-size:12px!important;
}

.floatRight{
    float:right;
    margin-right: 18px;
}

.has-error{
    color:red;
}

.generic-container {
    position:fixed;
    width:80%;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #EAE7E7;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 0 30px black;
}

.login-container {
    margin-top: 100px;
    background-color: floralwhite;
    width: 40%;
    left: 30%;
    position: absolute;
}

.login-card {
    width: 80%;
    margin: auto;
}
.login-form {
    padding: 10%;
}

.custom-width {
    width: 80px !important;
}

.success{
    position:fixed;
    width:50%;
    margin-left: 50px;
    margin-top:20px;
    padding: 20px;
    background-color: #E8E1E1;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.table-container {
    position:fixed;
    width:90%;
    height: 600px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #E8E1E1;
    border: 1px solid #ddd;
    border-radius: 4px;
}

table {
    border-collapse: collapse;
    position: inherit;
    width:80%;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}

table, th, td {
    border: 1px solid black;
}

tr:first-child{
    font-weight: bold;
    background-color: #C6C9C4;
}
