@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.row {
    display: table;
    margin: 0 0 0 95%;
}

.page {
    display: table;
    padding: 4% 0 0;
    margin: auto;
}

.container {
    float: left;
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 500px;
    min-width: 250px;
    margin: 0 auto 100px 20px;
    padding: 25px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.container input, select {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 10px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
}

.container .btn {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #CFCFD0;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 12px;
    float: right;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.login-form {
    width: 360px;
}

.login-form .btn {
    width: 100%;
}

.container .form .btn {
    width: 25%;
    margin: 0 0 0 10px;
    text-align: center;
}

.container .btn:hover,.container .btn:active,.container .btn:focus {
    background: #CFCFD0;
}

.container a {
    float: left;
    text-decoration: none;
    font-size: 14px;
    color: #2a5885;
}

.nav {
    float: left;
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 300px;
    min-width: 100px;
    margin: 0 auto 100px 20px;
    padding: 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.list {
    width: 100%;
    display: inline-block;
}

.list p,.list a{
    float: left;
    margin: 5px 5px;
    font-size: 14px;
    text-align: right;
}

.list .line-cell {
    width:100%;
    text-align: left;
}

.list .small-cell {
    width: 5%;
}

.journal-cell, .user-cell {
    width: 20%;
}

.semester-cell, .subject-cell {
    width: 30%;
}

.form {
    width: 350px;
}

.form input, .form label, .form select {
    margin: 5px 0 5px 0;
    font-size: 10px;
}

.plain_block {
    width: 100%;
}

.container .subtitle {
    margin: 0 0 10px;
    text-align: left;
    color: #070507;
    font-size:21px
}

.nav .subtitle {
    margin: 0 0 10px;
    text-align: left;
    color: #070507;
    font-size:21px
}

.container .pretext {
    padding: 0 0 0 0;
    text-align: left;
    color: #070507;
    font-size: 12px;
}

.container .pretext a {
    float: inherit;
    color: #2a5885;
}

.container .text {
    text-align: left;
    color: #070507;
    font-size: 14px;
}

body {
    background: #C0C0C0; /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #C0C0C0, #C0C0C0);
    background: -moz-linear-gradient(right, #C0C0C0, #C0C0C0);
    background: -o-linear-gradient(right, #C0C0C0, #C0C0C0);
    background: linear-gradient(to left, #C0C0C0, #C0C0C0);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}